{% extends 'news/_base.html' %}

{% block title %}{{ source.name }} | FinNews{% endblock %}

{% block content %}
<div class="container my-4">

    {% if source %}
        <h2 class="mb-2">{{ source.name }}</h2>
        <p class="mb-4 text-muted">{{ source.description }}</p>

        {% if posts %}
            <ul class="list-unstyled">
                {% for post in posts %}
                    <li class="mb-3">
                        <a href="{{ post.link }}" target="_blank" class="text-decoration-none">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% include "news/components/pagination.html" with page_obj=posts %}

        {% else %}
            <p class="text-muted">No posts available for this source.</p>
        {% endif %}
    {% else %}
        <p class="text-center text-muted">The source is not available.</p>
    {% endif %}

</div>
{% endblock %}
